{% extends 'base.html' %}

{% block content %}


	<div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/aboutwrap -->
  <div class="container">
    <div class="row mt">
        <div class="col-md-4">
			<h2>ANDRII NARTOV</h2>
			<h5>PYTHON BACKEND DEVELOPER</h5>
		</div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
			<div class="row">
				<div class="col-md-6"><h5>Living place:</h5></div>
				<div class="col-md-6"><h5>Poland, 30-864 Krakow</h5></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h5>Email:</h5></div>
				<div class="col-md-6"><h5>nartov1912@gmail.com</h5></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h5>Mobile/Telegram/Viber:</h5></div>
				<div class="col-md-6"><h5>+48 795 510 245</h5></div>
			</div>
		</div>
	</div>
	  <hr>
	<div class="row">
        <div class="col-sm-4"><h3>CEL</h3></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
			<p>
				Poszukuje pracy jako junior Python backend web developer. Mam
				ponad 4-letnie doswiadczenie pracy zdalnej, ponad 7-letnie
				doswiadczenie pracy z klientami oraz pracy w zespole(rowniez jako
				kierownik).
			</p>
		</div>
    </div>
	  <hr>
	<div class="row">
        <div class="col-sm-4"><h3>DOSWIADCZENIE</h3></div>
    </div>
	  <br>
	<div class="row">
        <div class="col-sm-4">
			<h4>Dnipropetrowsk, Ukraina</h4>
			<p>Październik 2012 - Styczeń 2015</p>
		</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
			<h4>Specjalista obsługi klienta</h4>
			<h5>PAO KB "Prywat Bank"</h5>
			<p>
				PAO KB "Prywat Bank" to największy bank Ukrainy. Pracowałem w
				głównym oddziale tego banku przez ponad 3 lata. Nasz dział
				zajmował się niestandardowymi sytuacjami, które wynikali u klientów.
				Cela było jak najszybsze rozwiązanie problemu klienta, zwiększenie
				poziomu jego lojalności.</p>
		</div>
    </div>
	  <hr>
	<div class="row">
        <div class="col-sm-4">
			<h4>Kraków, Polska</h4>
			<p>Maj 2017 - Luty 2021</p>
		</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
			<h4>Kierownik spedycji</h4>
			<h5>GO-TRANS OLEG GANOL</h5>
			<p>
				Na tym stanowisku codziennie musiałem obsługiwać obecnych
				klientów jak również i poszukiwać nowych. Miałem koordynować
				prace zespołu składającego się z 6-7 ludzi: kontrola wypełnienia
				dokumentacji, kontrola czasu pracy, kontrola zgodności warunków
				realizacji zleceń klientów. Ta wszystka praca była wykonywana
				zdalnie. Komunikacja z klientami oraz członkami zespołu odbywała
				się przez messengery, oraz telefonicznie w następnych językach:
				Polski, Rosyjski, Ukraiński, Angielski.
			</p>
		</div>
    </div>
	  <hr>
	<div class="row">
        <div class="col-sm-4">
			<h4>Kraków, Polska</h4>
			<p>Luty 2021 - Obecnie</p>
		</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
			<h4>Python backend web developer</h4>
			<p>
				W roku 2012 skończyłem studia w kierunku inżyniera
				oprogramowania (Bakałarz). Z przyczyn osobistych nie miałem
				możliwości zacząć prace jako programista. Od roku 2017 wrodziłem
				do tematu i zacząłem się interesować językiem Python. W roku 2020
				zdecydowałem na zmianę obecnego zawodu. Dlatego w Lutym 2021
				skończyłem prace na obecnym stanowisku i od tej pory cały swój czas
				(około 50 godzin w tygodniu) poświęcam na naukę technologii Python
				web programowania. Obecnie mam doświadczenie w tworzeniu
				aplikacji przy użyciu frameworkow Flask, Django, Django Rest Framework, Celery, Redis
				doświadczenie w pracy z SQL bazami danych (Postgres, SQLite),
				praca z GITem, Dockerem, Linuksem. Posiadam wiedze na temat
				pracy internet technologii, deployu aplikacji na serwer, serwowania
				plików przy użyciu serwisów AWS. W tej chwili już skończyłem kilka
				płatnych kursów w kierunku Python web developer (Stepik.org,
				Udemy). Zobaczyć kilka z moich projektów można pod linkiem <a href="http://nartovcv.online/projects">nartovcv.online/projects</a>
			</p>
		</div>
    </div>
	  <hr>
	<div class="row">
        <div class="col-sm-4"><h3>WYKSZTAŁCENIE</h3></div>
    </div>
	  <br>
    <div class="row">
        <div class="col-sm-4">
			<h4>Dnipropetrowsk, Ukraina</h4>
			<p>Wrzesień 2008 - Maj 2012</p>
		</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
			<h4>Bakałarz</h4>
			<h5>Akademia Służby Celnej Ukrainy</h5>
			<p>Kierunek: inżynier oprogramowania</p>
		</div>
    </div>
	  <hr>
	<div class="row">
	  <div class="col-sm-4">
	  <h3>UMIEJĘTNOŚCI</h3>
		  <br>
	  <ul>
		  <li>Praca w zespole</li>
		  <li>Rozumienie wymagań klienta</li>
		  <li>Dobra organizacja własnego czasu pracy</li>
		  <li>Flask</li>
		  <li>Django</li>
		  <li>Django Rest Framework</li>
		  <li>GIT</li>
		  <li>Docker</li>
		  <li>Linux</li>
		  <li>PostgreSQL</li>
		  <li>HTML</li>
		  <li>CSS</li>
		  <li>AWS</li>
	  </ul>
	  </div>
	  <div class="col-sm-1"></div>
	  <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
	  <div class="col-sm-4">
		  <h3>JĘZYKI</h3>
		  <br>
		  	<h4>Ukraiński</h4>
			<p>Zaawansowany</p>
		  	<h4>Rosyjski</h4>
			<p>Zaawansowany</p>
		    <h4>Polski</h4>
			<p>Średni</p>
		    <h4>Angielski</h4>
			<p>Średni</p>
		    <h4>Niemiecki</h4>
			<p>Podstawowy</p>
	  </div>
    </div>
	  <hr>
	<div class="row">
        <div class="col-sm-4">
			<h3>ABOUT ME</h3>
		</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
			<p>
				Bardzo doceniam swój czas oraz czas innych ludzi. Dlatego każda
				chwile swojego czasu staram się poswieczyc na sprawy, które
				przynoszą korzyść dla mnie lub dla innych. Oprocz tworzenia
				oprogramowania ja interesuje się również joga, piłka nożna oraz
				inwestycjami w giełdę papierów wartościowych.
			</p>
		</div>
    </div>
  </div>

{% endblock %}
