{% extends 'base.html' %}

{% block content %}


	<div id="workwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h1>PROJECT EXAMPLES</h1>
				</div>
			</div> <!--/row -->
	    </div> <!-- /container -->
	</div> <!--/workwrap -->
	
	<section id="works"></section>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-sm-4">
				<h3>PROJECT 1. "Vacancies"</h3>
			</div>
			<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<h3>LINK <a href="http://project1.nartovcv.online">project1.nartovcv.online</a></h3>
			</div>
		</div>
		<div class="row">
        	<div class="col-sm-4"><h3>Description</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<p>
					This is a simple project which I made studying the django course on the education platform stepik.org.
					Using this application you can register as user and create you own company. Then you can add job vacancies, visible
					for other users. Each of users has an option to apply for your vacancy. All the interface of this application is in Russian.
				</p>
			</div>
    	</div>
		<div class="row">
        	<div class="col-sm-4"><h3>Technologies</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<ul>
					<li>Django</li>
					<li>SQLite</li>
					<li>GIT</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Bootstrap</li>
					<li>GIT</li>
					<li>AWS S3</li>
				</ul>
			</div>
    	</div>
		<div class="row">
        	<div class="col-sm-4"><h3>GIT</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<h4><a href="https://github.com/AndriiNartov/stepic_vacancies_week2.git">https://github.com/AndriiNartov/stepic_vacancies_week2.git</a></h4>
			</div>
    	</div>
		<hr>
		<div class="row">
			<div class="col-sm-4">
				<h3>PROJECT 2. "Images"</h3>
			</div>
			<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<h3>LINK <a href="http://project2.nartovcv.online">project2.nartovcv.online</a></h3>
			</div>
		</div>
		<div class="row">
        	<div class="col-sm-4"><h3>Description</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<p>
					Pretty small project, but it gives a possibility to work with a lot of technologies and python libraries.
					In this project user can load and store original images and thumbnails. Also user has a possibility
					to create expiry link to every image  he has access. Access to images defines by user's account tier.
					You can create different account tiers and thumbnail sizes as superuser via admin panel. This project
					contains 2 parts: simple user interface by link
					<a href="https://project2.nartovcv.online/register">project2.nartovcv.online/register</a>
					and also REST API part, which is available after registration by links
					<a href="https://project2.nartovcv.online/api/v1/images/">project2.nartovcv.online/api/v1/images/</a>,
					<a href="https://project2.nartovcv.online/api/v1/upload/">project2.nartovcv.online/api/v1/upload/</a>
				</p>
			</div>
    	</div>
		<div class="row">
        	<div class="col-sm-4"><h3>Technologies</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<ul>
					<li>Django</li>
					<li>Django Rest Framework</li>
					<li>PostgreSQL</li>
					<li>Celery</li>
					<li>Redis</li>
					<li>Unit Tests</li>
					<li>Docker</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Bootstrap</li>
					<li>GIT</li>
					<li>Buying and setting up real production server and SSL Certificate</li>
					<li>Project was deployed on real production server using Nginx and Gunicorn</li>
				</ul>
			</div>
    	</div>
		<div class="row">
        	<div class="col-sm-4"><h3>GIT</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<h4><a href="https://github.com/AndriiNartov/image_project.git">https://github.com/AndriiNartov/image_project.git</a></h4>
			</div>
    	</div>
		  <hr>
		<div class="row">
			<div class="col-sm-4">
				<h3>PROJECT 3. "CV"</h3>
			</div>
			<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<h3>LINK <a href="http://nartovcv.online">nartovcv.online</a></h3>
			</div>
		</div>
		<div class="row">
        	<div class="col-sm-4"><h3>Description</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<p>
					This is a project which contains current page you are seeing, my cv project. It is powered by framework
					Flask.
				</p>
			</div>
    	</div>
		<div class="row">
        	<div class="col-sm-4"><h3>Technologies</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<ul>
					<li>Flask</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Bootstrap</li>
					<li>GIT</li>
				</ul>
			</div>
    	</div>
		<div class="row">
        	<div class="col-sm-4"><h3>GIT</h3></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-1"></div>
        	<div class="col-sm-4">
				<br>
				<h4><a href="https://github.com/AndriiNartov/nartovcv.git">https://github.com/AndriiNartov/nartovcv.git</a></h4>
			</div>
    	</div>
		  <hr>
	</div>


{% endblock %}
